<title>文章推送</title>
    <style>
        /*推送表格*/
        .table{
            background-color: #fff;
            width: 1660px;
            height: 170px;
            margin: auto;
            position: absolute;
            top: 250px;
            left: 200px;
            right: 0;
            text-align: center;
        }
        table th, table td{
            top: 100px;
            padding: 5px 40px;
            text-align: center;
            border: 1px solid silver;
        }
        table th{
            background: #999999;
        }

        /*添加推送按钮*/
        .add{
            background: #009688;
            width: 100px;
            border-radius: 5px;
            height: 50px;
            position: absolute;
            text-align: center;
            line-height: 50px;
            top: 150px;
            left: 50%;
            right: 0;
        }

        /*删除,不多说*/
        .delete{
            background: #009688;
            border-radius: 5px;
            border: 1px solid #333333;
            padding: 0 5px;
            color: white;
            position: absolute;
            right: 30px;
            margin: -10px 0;
        }

        /*修改*/
        .update{
            background: #009688;
            border-radius: 5px;
            border: 1px solid #333333;
            padding: 0 5px;
            position: absolute;
            right: 130px;
            margin: -10px 0;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.js"></script>

<!--侧面菜单-->
<include file="./Application/Admin/View/Public/header.html" />
<include file="./Application/Admin/View/Public/menu.html" />

<div class="add">
    <a href="/Admin/Push/add">添加推送</a>
</div>
<div>
    <table class="table">
        <tr>
            <th>推送标题</th>
            <th>推送时间</th>
            <th>更新时间</th>
            <th>推送值</th>
            <th>编辑文章</th>
        </tr>
        <foreach name="search" item="item">
            <tr>
                <td>{$item['title']}</td>
                <td>{$item['create_time']}</td>
                <td>{$item['update_time']}</td>
                <td>{$item['sort']}</td>
                <td>
                    <a class="delete" data-id="{$item['id']}">删除推送</a>
                    <a class="update" href="/Admin/Push/update?id={$item['id']}">修改推送</a>
                </td>
            </tr>
        </foreach>
    </table>
</div>

<include file="./Application/Admin/View/Public/footer.html" />

<script>
    $(".delete").click(function () {
        var id = $(this).attr("data-id")
        $.post("/Admin/Push/doDelete", {
            id:id
        }, function (result) {
            console.log(result)
            alert(result.message)
            if (result.status == 1) {
                window.location.reload()
            }
        }, "json")
    })
</script>