<title>关于我</title>
<script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.js"></script>

<!--侧面菜单-->
<include file="./Application/Home/View/Public/header.html" />
<include file="./Application/Home/View/Public/menu.html" />

<style>
    body{
        background: lightcyan;
    }
    .title{
        color: #006dcc;
        position: absolute;
        top: 5%;
        right: 650px;
        font-size: 60px;
    }

    .ul_top{
        position: absolute;
        left: 52%;
        top: 15%;
    }
    .about{
        width: 300px;
        height: 70px;
        line-height: 70px;
        font-size: 40px;
    }
</style>

<div class="title">关于我</div>
<div class="ul_top">
    <ul>
        <li class="about">95后</li>
        <li class="about">PS4玩家</li>
        <li class="about">目前学习中......</li>
    </ul>
</div>

<include file="./Application/Home/View/Public/footer.html" />